@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: #e5e5e5;
  justify-content: center;
}
main {
  max-width: 1000px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
a {
  text-decoration: none;
}
header {
  grid-column: 1/7;
  grid-template-rows: auto;
  display: flex;
}

.home-page__header {
  height: 544px;
}
.home-page__header__left {
  width: 50%;
  background-color: #c7ddea;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.home-page__header__left__content {
  margin-top: 71px;
}

h1 {
  font-family: "Frank Ruhl Libre";
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  width: 314px;
  line-height: 100%;
  height: 101px;
  letter-spacing: -0.02em;
  color: #000000;
}
.home-page__header__left__sub-title {
  width: 268px;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
}
.sub-title__price {
  color: #ffffff !important;
}
.btn {
  width: 131px;
  height: 39px;
  background: #ffffff;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn-top {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 51px;
}

.home-page__header__left img {
  width: 286px;
  height: 279px;
  position: absolute;
  bottom: 0;
  right: 17px;
}

.home-page__header__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.home-page__header__right__boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
}
.home-page__header__right__boxes--learn-more {
  background-color: #f17949;
}

.home-page__header__sub-title {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.5);
}

.home-page__header__right__boxes--join {
  background-color: #ffb939;
}

.home-page__header__title {
  font-family: "Frank Ruhl Libre";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -0.02em;
  color: #ffffff;
}

/* Navbar */

.nav-bar__container {
  grid-column: 1/7;
  display: grid;
  height: 57px;
  margin-top: 7px;
  margin-bottom: 4px;
  grid-template-columns: repeat(6, 1fr);
  background-color: #e5e5e5;
}

.nav-bar {
  grid-column-start: 2;
  grid-column-end: 6;
  display: flex;
  justify-content: space-between;
}
.nav-bar__links {
  flex: 1;
  color: #000000;
  opacity: 0.4;
  font-family: "Fira Sans";
  height: 100%;
  line-height: 57px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
}

.nav-bar__links.active {
  opacity: 1;
}

.content__container {
  grid-column: 1/7;
  position: relative;
}

.content__top {
  background-color: #a9a19e;
  height: 612px;
  display: flex;
  justify-content: space-between;
  padding: 103px 107px 0;
}

.content__top__container {
  width: 314px;
}

.content__bottom__container .content__title{
  height: 101px;
  margin: auto;
}
.content__title {
  font-family: "Frank Ruhl Libre";
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #ffffff;
  width: 314px;
}
.content__sub-title {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
  width: 280px;
}
.content__bottom {
  background-color: #fab131;
  height: 680px;
  display: flex;
}

.content__bottom__container {
  width: 442px;
  margin: 225px auto 101px;
  text-align: center;
}

.content__bottom__sub-title {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.content__cards {
  position: absolute;
  top: 453px;
  left: 0;
  width: 100%;
  min-height: 200px;
  display: flex;
  padding: 0 90px;
  justify-content: space-between;
}
.card__container {
  width: 256px;
  height: 308px;
  position: relative;
  display: flex;
  padding: 146px 21px 27px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.card__content {
  border-radius: 5px;
  text-align: center;
}

.card__title {
  font-family: "Frank Ruhl Libre";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.9);
  align-items: center;
  margin-bottom: 14px;
}

.card__sub-title {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.4);
}

.card__img {
  top: -26px;
  left: 10px;
  position: absolute;
  width: 236px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: 30%;
  border-radius: 4px;
  overflow: hidden;
  padding-top: 14px;
  display: flex;
  justify-content: center;
}

.card__img span {
  display: block;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 161px;
}
.card__img--left {
  background-color: #c7ddea;
}
.card__img--left span {
  background-image: url("../img/child.png");
  width: 96px;
}
.card__img--middle {
  background-color: #fab131;
}
.card__img--middle span {
  background-image: url("../img/adult.png");
  width: 96px;
}
.card__img--right {
  background-color: #f17949;
}
.card__img--right span {
  background-image: url("../img/old.png");
  width: 134px;
}

footer {
  background-color: #777574;
  grid-column: 1/7;
}

.box__container {
  background-color: #e5e5e5;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: stretch;
  align-items: stretch;
  grid-template-areas:
    "box-0 box-0 box-1 box-1 box-2 box-2"
    "box-3 box-3 box-4 box-4 box-5 box-5";
}

.title {
  font-family: "Frank Ruhl Libre";
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.4);
}
.boxes {
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}
.box__title {
  font-family: "Frank Ruhl Libre";
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.8);
}

.box__sub-title {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  width: 257px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

.box__00 {
  background-color: #c7ddea;
  grid-area: box-0;
}

.box__01 {
  grid-area: box-1;
  background-color: #ffffff;
}
.box__02 {
  grid-area: box-2;
  background-color: #ebebeb;
}
.box__03 {
  grid-area: box-3;
  background-color: #ffffff;
}
.box__04 {
  grid-area: box-4;
  background-color: #f17949;
}

.box__05 {
  grid-area: box-5;
  background-color: #ffffff;
}

.footer__bottom {
  height: 340px;
}

.footer__bottom__nav {
  position: relative;
  background-color: #a9a19e;
  width: 1002px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.footer__nav {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  height: 31px;
  color: rgba(0, 0, 0, 0.7);
}

.footer__bottom__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*  Contact form */

.contact-page__header {
  grid-column: 1/7;
  height: 340px;
  background-color: #c7ddea;
  position: relative;
  display: flex;
}
.contact-page__header h1 {
  margin: auto;
}

.contact-page__header__image {
  position: absolute;
  right: 115px;
  top: 42px;
}

.content--contact-page {
  display: flex;
  align-items: center;
  background-color: #a9a19e;
}
.content--contact-page div {
  flex: 1;
  justify-self: left;
  margin-top: 106px;
  margin-bottom: 85px;
  align-self: flex-start;
}

.content--contact-page div p {
  margin-left: 76px;
}
.content--contact-page .content__title {
  width: 314px;
}
.content--contact-page form {
  width: 334px;
  display: flex;
  flex-direction: column;
}
.content--contact-page form aside {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.content--contact-page form label {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  opacity: 0.7;
  height: 30px;
  line-height: 30px;
}

.content--contact-page form input {
  height: 40px;
  padding: 0 18px;

}

.content--contact-page form textarea {
  width: 334px;
  height: 166px;
  padding: 18px;
  color: #000000;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  resize: none;
}

.content--contact-page form textarea::placeholder {
  color: #000000;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.btn--form-contact {
  margin-left: auto;
  margin-top: 12px;
}



.map__container {
  position: relative;
  min-height: 407px;
  background-image: url("../img/map-contact.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-address {
  position: absolute;
  top: 45px;
  left: 86px;
  display: flex;
  flex-direction: column;
  width: 323px;
  height: 206px;
  padding: 22px;
  background-color: #fab131;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.map__container .content__title {
  width: 278px;
  height: 45px;
}

.address {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
}

.map__container img{
  height: 112px;
  width: 70px;
  object-fit: contain;
}

